body{
  margin: 15px;
}

.ground{
  border-bottom: 1px solid #647f7b;
}

.picture{
  margin: 45px;
}

.house{
  height: 25px;
  border-top: 1px solid white;
  background-color: #c2c4a5;

  position: relative;
}

.floorNumber{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.darkText{
  color: black;
}

.lightText{
  color: white;
}

.floors{
  border: 1px solid black;
  padding: 5px;
}

.floor{
  height: 350px;
  background-color: #647f7b;
}

.apartment{
  height: 117px;
  border: 1px solid white;
}

.entrance7{
  background-color: #c2c4a5;
}

.entrance8{
  background-color: #1c3237;
}

.lift{
  height: 58px;
  background-color: #fbefcf;
}

.bottomLift{
  margin-top: 58px;
}