body{
  margin: 15px;
}

.ground{
  border-bottom: 1px solid #647f7b;
}

.house{
  height: 25px;
  border-top: 1px solid white;
  background-color: #c2c4a5;

  position: relative;
}

.floorNumber{
  color: white;
  
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.floors{
  border: 1px solid black;
  padding: 5px;
}

.floor14{
  border: 1px solid red;
  height: 100px;
  width: 300px;
}